In [4]:
import pandas as pd

In [18]:
dataset = pd.read_csv('./dataset/SMSSpamCollection', sep="\t")
dataset.columns = ['spam', 'text']
dataset.spam = dataset.spam.map({'ham': 0, 'spam': 1})

print(f"Size of the dataset: {dataset.shape[0]}")

dataset.head(10)

Size of the dataset: 5571

   spam                                               text
0     0                      Ok lar... Joking wif u oni...
1     1  Free entry in 2 a wkly comp to win FA Cup fina...
2     0  U dun say so early hor... U c already then say...
3     0  Nah I don't think he goes to usf, he lives aro...
4     1  FreeMsg Hey there darling it's been 3 week's n...
5     0  Even my brother is not like to speak with me. ...
6     0  As per your request 'Melle Melle (Oru Minnamin...
7     1  WINNER!! As a valued network customer you have...
8     1  Had your mobile 11 months or more? U R entitle...
9     0  I'm gonna be home soon and i don't want to tal...